* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #282c34;
  color: #ffffff;
  font-size: 1.8em;
  font-weight: bold;
}
.App h1 {
  color: #ccf4f5;
  font-size: 60px;
  text-shadow: #fff;
  margin: 12px;
  text-align: center;
}
